*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: #efefef;
}

.header {
    text-align: left;
    padding: 24px;
    margin-bottom: 20px;
}

.header img {
    width: 48px;
    height: 48px;
}

.header h1 {
    display: inline-block;
}

.recipe-list {
    padding: 24px;
}

.recipe-list li {
    list-style: none;
    margin: 10px;
}

.recipe-list a {
    color: orangered;
}

.recipe-list a:hover {
    color: orange;
}

.recipe-title.home a {
    text-decoration: none;
}