*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid rgb(182, 182, 182); */
}

body {
    background-color: #efefef;
}

.header {
    text-align: left;
    padding: 24px;
    margin-bottom: 20px;
}

.header img {
    width: 48px;
    height: 48px;
}

.header h1 {
    display: inline-block;
}

.recipe-list {
    padding: 24px;
}

.recipe-list li {
    list-style: none;
    margin: 10px;
}

.recipe-list a {
    color: orangered;
}

.recipe-list a:hover {
    color: orange;
}

.recipe-title.home a {
    text-decoration: none;
}

/* recipe pages */

.breadcrumb {
    padding: 10px;
    margin: 12px;
}

.breadcrumb .crumb {
    display: inline-block;
}

.recipe-header,
.ingredients-section,
.steps-section {
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 12px;
}

.recipe-title-description,
.recipe-photo {
    display: inline-block;
    margin: 10px;
}

.recipe-photo img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    display: inline-block;
}

.recipe-title-description {
    width: 600px;
}

.recipe-title,
.recipe-description,
.ingredients-title,
.steps-title {
    padding: 10px;
}

.ingredients-list,
.steps-list {
    padding-left: 40px;
}

.ingredient,
.step {
    margin: 5px 0;
    margin-left: 18px;
}

.step {
    list-style-type: lower-roman;
}

aside {
    width: 30%;
    padding: 10px;
    margin: 20px 50px;
    float: right;
    background-color: #709ad1;
    color: #efefef;
    border-radius: 10px;
}

.cook-note-title,
.cook-note-description {
    padding: 10px;
}

.cook-note-description p {
    margin-left: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

aside hr {
    border: 3px solid white;
    border-radius: 10px;
}